@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --main-color: hsl(0, 70%, 70%);
  --author-color: hsl(0, 0%, 60%);
  --white: hsl(0, 0%, 100%);
  --shadow: hsla(0, 0%, 6%, 0.3);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: var(--main-color);
  font-family: 'Lato', sans-serif;
  transition: background-color 0.5s ease-in;
}

a {
  text-decoration: none;
  color: var(--white)
}

.page-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#quote-box {
  background-color: var(--white);
  box-shadow: 1px 2px 2px var(--shadow);
  padding: 1.5rem;
  width: 85vw;
  max-width: 600px;
}

@media screen and (min-width: 768px) {
  #quote-box {
    width: 50vw;
    min-width: 420px;
  }
}

#quote-box > blockquote {
  font-size: 1.33rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#quote-box > blockquote p {
  text-align: center;
}

#quote-box > blockquote svg {
  padding-right: 0.5em;
}

#quote-box > blockquote cite {
  font-size: 0.85em;
  color: var(--author-color);
  text-align: right;
  margin-top: 1rem;
}

#quote-box > footer {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#quote-box > footer button {
  font-size: 0.85em;
  background-color: var(--main-color);
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--shadow)
}

#quote-box > footer #tweet-quote > button {
  text-align: center;
  padding: 0.33rem 0.5rem
}

.credits {
  font-size: .75rem;
  margin-top: .75rem;
}