@import url('https://fonts.googleapis.com/css?family=Spartan:600&display=swap');

@font-face {
  font-family: 'Digital';
  src: url('./fonts/Digital.otf') format('opentype'),
       url('./fonts/Digital.ttf') format('truetype'),
       url('./fonts/Digital.woff') format('woff')
}

$main-blue: #0B5F73;
$darker-blue: #0A4B5B;
$light-red: #E44E4E;
$medium-red: #CC3C3C;
$darker-red: #9c2c2c;
$white: #fefffb;
$grey: #e9eae5;
$darker-grey: #b1b2ae;
$black: #000;

* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
  background: linear-gradient(-45deg, $main-blue, $darker-blue);
  background-color: $main-blue;
  line-height: 1.2;
}

button {
  border: 0;
  background-color: $light-red;
  padding: .33em .5em;
  margin: 0 .25em;
  border-radius: .25em;
  border: 1px solid transparent;

  &:hover {
    background-color: $darker-red;
    color: $white;
    border-color: $medium-red;
  }

  &:disabled {
    background-color: $darker-grey;
    color: $black;
  }
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-wrapper {
  background-color: $white;
  border: 3px solid $darker-blue;
  box-shadow: 3px 3px 2px 2px rgba($darker-blue, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header {
  font-family: 'Spartan', Verdana, Geneva, Tahoma, sans-serif;
  background-color: $medium-red;
  border-bottom: 1px solid $light-red;
  color: $white;
  width: 100%;
}

main {
  padding: 1.5em 3em;
}

.timerlength-controls {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  grid-gap: 1rem;

  .control-label {
    font-weight: 400;
    font-size: 1.25rem;
    background-color: $grey;
    padding: .33em .75em;
    margin: .5em 0;
  }

  button {
    margin: 0 .75rem;
  }
}

.timer {
  margin-top: 3rem;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-gap: .5rem;

  .timer-display {
    background-color: $grey;
    min-width: 100px;

    & > h2 {
      background-color: $darker-red;
      border-bottom: 1px solid $medium-red;
      width: 100%;
      display: block;
      margin: 0;
      padding: .33em;
      color: $white;
    }

    & > p {
      font-family: 'Digital', monospace;
      font-size: 2.5rem;
      letter-spacing: .2rem;
      margin: 1rem 0;
    }
  }

  .timer-controls > button {
    padding-left: 1em;
    padding-right: 1em;
    background-color: $darker-red;
    color: $white;
    border: 1px solid transparent;

    &:hover {
      background-color: $light-red;
      color: $grey;
      border-color: $medium-red;
    }
  }
}