<!DOCTYPE html>
<html>
  <head>
    <title>Exercise Tracker</title>
    <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
    <link href="style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
      <h1>Exercise tracker</h1>
      <div class="form-group">
        <form action="/api/exercise/new-user" method="post">
          <h3 class="form-title">Create a new user</h3>
          <input id="uname" type="text" name="username" placeholder="Username" aria-label="Type the username" required>
          <button type="submit">Sign Up</button>
        </form>
        <form action="/api/exercise/login">
          <h3 class="form-title">Existing user</h3>
          <input type="text" name="username" id="lg-username" placeholder="Username" aria-label="Type your username" required>
          <button type="submit">Go</button>
        </form>
      </div>
    </div>
  </body>
</html>
